[Unit]
Description=Start Blogd Core Engine
DefaultDependencies=no
Wants=systemd-ask-password-blog.path systemd-vconsole-setup.service
After=systemd-vconsole-setup.service systemd-udev-trigger.service systemd-udevd.service
Before=systemd-ask-password-blog.service
ConditionKernelCommandLine=!blog.enable=0
ConditionVirtualization=!container
ConditionPathExists=/dev/console
IgnoreOnIsolate=true
RefuseManualStart=true

[Service]
ExecStart=/sbin/blogd
Type=forking
RemainAfterExit=yes
KillMode=mixed
SendSIGKILL=no
