[Unit]
Description=Tell blogd to switch to initramfs
DefaultDependencies=no
# dracut-shutdown.service restores the initramfs when it is _stopped_
# use Conflicts to make sure its ExecStop has run before we do
Conflicts=dracut-shutdown.service
After=blog-halt.service blog-reboot.service blog-poweroff.service blog-kexec.service dracut-shutdown.service mkinitcpio-generate-shutdown-ramfs.service
ConditionPathExists=|/run/initramfs/bin/sh
ConditionPathExists=|/run/initramfs/shutdown

[Service]
Type=oneshot
StandardInput=null
StandardOutput=null
StandardError=null
RemainAfterExit=yes
ExecStart=-/sbin/blogctl root=/run/initramfs
