[Unit]
Description=Start Blogd at System Shutdown
DefaultDependencies=no
Before=shutdown.target
RefuseManualStart=true

[Service]
Type=forking
SendSIGKILL=no
ExecStart=/sbin/blogd -f
