[Unit]
Description=Start Blogd at System Kexec
DefaultDependencies=no
After=blog.service
Before=systemd-kexec.service
RefuseManualStart=true
ConditionKernelCommandLine=!blog.enable=0
ConditionVirtualization=!container

[Service]
Type=forking
SendSIGKILL=no
RemainAfterExit=yes
ExecStart=/sbin/blogd -f
