[Unit]
Description=Start Blogd at System Bootup
DefaultDependencies=no
Wants=systemd-ask-password-blog.path systemd-vconsole-setup.service
After=systemd-vconsole-setup.service
Before=systemd-ask-password-blog.service
ConditionKernelCommandLine=!blog.enable=0
Wants=systemd-ask-password-blog.path
Before=systemd-ask-password-blog.service
Before=sysinit.target
RefuseManualStart=true

[Service]
Type=forking
SendSIGKILL=no
RemainAfterExit=yes
ExecStart=/sbin/blogd

[Install]
WantedBy=basic.target
