[Unit]
Description=Plymouth Boot Screen Compatibility Shim
DefaultDependencies=no
ConditionKernelCommandLine=!plymouth.enable=0
ConditionVirtualization=!container
Requires=blog.service
After=blog.service
IgnoreOnIsolate=true

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes
